<% include ../layout/header.ejs %>

<div class="main">
  <div class="container">
    <div class="content">
        <div class="post">
            <div class="top">
              <h2><%= post.title %>
                <% if(post.owner.login === user.login){%>
                <a href="/post/edit/<%= post.id %>" class="link">🖉</a>
              <% } %>
            </h2>
            </div>
            <div class="body">
              <p>
                <%= post.body %>
              </p>
            </div>
            <div class="bottom">
              <div class="author">
                Автор:
                <a href="/user/<%= user.login %>" class="link"><%= user.login %></a>
              </div>
              <a href="/">Комментарі</a>
            </div>
          </div>

          <div class="comments" id="<%= post.id %>">
            <h3>Коментарі</h3>
            <div class="comment-list">
              <%- include('../layout/comments.ejs', {items: comments})%>
              <span class="link" id="new">Додати коментар</span>
              <form class="comment">
                <textarea name="body" id="AreaComment"></textarea>
                <div class="buttons">
                  <button id="publish-comment">Опублікувати</button>
                  <button class="cancel" >Відмінити</button>
                </div>
              </form>
            </div>
          </div>

      <div class="pagination">
          <a href="/" class="new">← На головну</a>
      </div>
    </div>

    <% include ../layout/sidebar.ejs %>
  </div>
</div>

<% include ../layout/footer.ejs %>